/vendor
/node_modules
/public/build
!/public/build/
!/public/build/manifest.json
!/public/build/assets/
!/public/build/assets/*
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
/.phpunit.cache
/storage/*.key
/storage/logs/*
/database/database.sqlite
